<div class="container">
  <h2>ユーザ情報編集</h2>
  <% if @user.errors.any? %><!-- @userのエラー情報チェック -->
    <div id="error_explanation">
      <!-- 下記は@userのエラーの数をカウントして数値を出力 -->
      <h3><%= @user.errors.count %>errors prohibited this user from being saved:</h3>
      <!-- @userのエラーメッセージを表示する -->
      <ul>
        <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_with model: @user, url: publics_user_path, local: true do |f| %>
  <table>
    <tr>
      <th>お名前</th><td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th>メールアドレス</th><td><%= f.email_field :email %></td>
    </tr>
    <tr>
      <th>ユーザアイコン画像</th><td><%= f.attachment_field :profile_image %></td>
    </tr>
  </table>
  <div>
    <%= f.submit "編集内容保存" %>
  </div>
  <% end %>
</div>