<div class="container">
  <h1>イベント会場詳細</h1>
  <% if user_signed_in? %>
    <%= link_to '編集', edit_publics_event_path(@event) , class: "btn btn-success" %>
  <% end %>
  <div class="row">
      <div class="col-lg-6">
        <div><%= attachment_image_tag @event, :image, :fill, 500,500, fallback: "no_image.jpg" %></div>
      </div>
      <div class="col-lg-6">
        <!--div class="p-2 bd-highlight"-->
        <div class="d-flex flex-column bd-highlight mb-3">
          <div class="p-2 bd-highlight">
            <label class="fa-lg">イベント会場名</label></br>
            <%= @event.eventname %>
          </div>
          <div class="p-2 bd-highlight">
            <label class="fa-lg">住所</label></br>
            <%= @event.address %>
          </div>
          <div class="p-2 bd-highlight">
            <label class="fa-lg">サイトURL</label></br>
            <%= link_to @event.siteurl, @event.siteurl, target: :_blank, rel: "noopener noreferrer" %>
          </div>
          <div class="p-2 bd-highlight">
            <label class="fa-lg">イベント会場概要欄</label></br>
            <%= @event.comment %>
          </div>
        </div>
        <!--/div-->
      </div>
  </div>
  
  <div class="row">
    <div class="col-lg-6">
      <div id="target"></div>
      <!--div id="address" value=<%#= @event.address %>></div-->
      <!--input id="address" value="<%#= @event.address %>"-->
      <!--住所-->
      <input id="address" type="hidden" value="<%= @event.address %>">
      <!--input type="button" value="検索" onclick="codeAddress()"-->
      <!--地図表示の範囲設定-->
      <style>#target {height: 500px;width: 500px;}</style>
      <!--GoogleMapApiで使用するAPIキーをマップURLに埋め込み-->
      <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAP_API_KEY']%>&callback=initMap" async defer></script>
    </div>

    <div class="col-lg-6">
      <p class="fa-lg">いいね/コメント欄</p>
      <% if user_signed_in? %>
        <div id="favorite-<%= @event.id %>" class="favo">
          <%# いいねの部分テンプレートeventフォルダの_favorite.html.erbを参照 %>
          <%= render 'publics/events/favorite', event: @event %>
        </div>

        <div id="comments_area" class="scroll">
          <%= render 'publics/events/eventcomment', event: @event %>
        </div>
    
        <%= form_with model:@event_comment, url:publics_event_event_comments_path(@event.id),local: false do |f| %> 
        <div class="form-group">
          <div class="field_with_errors">
            <label for="event_title">コメント</label>
          </div>
            <%= f.text_area :eventcomment %>
        </div>
        <div class="form-group">
          <%= f.submit '送信', class: "btn btn-success" %>
        </div>
        <% end %>
      <% else %>
        <div class="favo"><%= @event.favorites.count %> いいね</div>
        <%= render 'publics/events/eventcomment', event: @event %>
      <% end %>
    </div>
  </div>
</div>