<h1>イベント会場詳細</h1>

<table>
    <tv>
        <div><%= attachment_image_tag(@event, :image, size: "100×100", fallback: "no_image.jpg") %></div>
        <div>
            <label>イベント会場名</label><%= @event.eventname %>
            <label>住所</label><%= @event.address %>
            <label>サイトURL</label><%= link_to @event.siteurl, @event.siteurl %>
            <label>イベント会場概要欄</label><%= @event.comment %>
        </div>
    </tr>
</table>
<%= link_to '編集', edit_admins_event_path(@event) %>