<!DOCTYPE html>
<html>
　<header>
　　<div class="logo">
    　　<%= link_to root_path do %>
    　　<!--%= image_tag "logo1.jpg" %-->
    　　<% end %>
　　</div>

    
    <div class="navbar_list">
      <!--ul class="navbar"-->
      　<% if user_signed_in? %>
          <%= "ようこそ、" %><%= current_user.name %><%= "さん！！" %>

          <li><%= link_to ' マイページ',publics_user_path(current_user) %></li>
          <li><%= link_to ' イベント会場一覧',publics_events_path %></li>
          <li><%= link_to ' ログアウト', destroy_user_session_path, method: :delete %></li>
        <%# elsif admin_user_signed_in? %>
          <li><%#= link_to ' イベント会場⼀覧 ',admins_events_path %></li>
          <li><!--%= link_to ' ユーザ⼀覧 ', admins_users_path %--></li>
          <li><%#= link_to ' ログアウト', destroy_admin_session_path, method: :delete %></li>
        <% else %>

        <!--ログインしてないとき-->

          <!--li><!--%= link_to ' About', home_about_path %></li-->
          <li><%= link_to ' イベント会場一覧', publics_events_path %></li>
          <li><%= link_to ' 新規登録', new_user_registration_path %></li>
          <li><%= link_to ' ログイン', new_user_session_path %></li>
        <% end %>
    　<!--/ul-->
　　</div>
　</header>
</html>