<!DOCTYPE html>
<html>
  <head>
    <title>PfEvents</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <!--div class="container"-->
    <body>
      <%= render 'layouts/head' %>
      <div class="jumbotron jumbotron-fluid"><%= yield %></div>
      <%= render 'layouts/foot' %>
    </body>
  <!--/div-->
</html>
